@import url("https://fonts.googleapis.com/css?family=MedievalSharp|Pinyon+Script|Crimson+Text|Meie+Script|Cinzel|Cormorant+Garamond&display=swap");

#medieval {
	background-image: url("res/castle.jpg");
	background-position: center;
}

#medieval .period-title {
	font-family: "MedievalSharp", cursive;
}

#renaissance {
	background-image: url("res/david.jpg");
	background-position: 35% 0%;
	background-size: 270%;
}

#renaissance .period-title {
	font-family: "Cinzel", serif;
}

#baroque {
	background-image: url("res/baroque.jpg");
	background-position: center;
}

#baroque .period-title {
	font-family: "Pinyon Script", cursive;
}

#classical {
	background-image: url("res/violin.jpg");
}

#classical .period-title {
	font-family: "Crimson Text", serif;
}

#romantic {
	background-image: url("res/piano.jpg");
	background-position: right bottom;
}

#romantic .period-title {
	font-family: "Meie Script", serif;
}

#modern {
	background-image: url("res/fragment.jpg");
}

#modern .period-title {
	font-family: "Cormorant Garamond", sans-serif;
}

body {
	font-family: "Cormorant Garamond", sans-serif;
	white-space: nowrap;
	background-image: url("res/marble.png");
}

.period {
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 325px;
	height: 600px;
	padding: 15px;
	white-space: normal;
	border-radius: 5px;
	margin: 10px;
	color: white;
	position: relative;
}

.bibliography {
	position: relative;
}

.period-title {
	font-size: 47px;
	text-shadow: 2px 2px 1px black;
}

.composer-title {
	font-size: 35px;
	text-shadow: 1px 1px 1px black;
}

.period-title, .composer-title, .bibliography-title {
	cursor: pointer;
	text-decoration: none;
}

.bibliography-title {
	font-size: 30px;
}

.composer-title:hover {
	font-size: 45px;
}

.period-title:hover, .composer-title:hover, .bibliography-title:hover {
	text-decoration: underline;
}

.period-title:hover + .period-text, .period-text:hover, .composer-title:hover + .composer-text, .composer-text:hover, .bibliography-title:hover + .bibliography-text, .bibliography-text:hover {
	visibility: visible;
}

.bibliography-title:hover {
	font-size: 40px;
}

.composer-text, .period-text, .bibliography-text {
	font-size: 20px;
	visibility: hidden;
	z-index: 1;
	position: absolute;
	width: 700px;
	padding: 10px;
	color: black;
	background-size: cover;
	background-image: url("res/marble.png");
	border-radius: 15px;
	border: 1px groove black;
}

.bibliography-text {
	bottom: 45px;
}

#modern .period-text, #modern .composer .composer-text {
	right: 0px;
}

img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 75px;
	border-radius: 5px;
}

p {
	margin-top: 0px;
}
